

.header{
  background-color: orangered;
  height: 70px;
  font-size: 30px;
  font-weight: bold;
  padding: 5px;
  line-height: 25px;
  text-align: center;

}

.footer{
  background-color: orangered;
  height: 42px;
  font-weight: bold;
  padding: 4px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

a{
  text-decoration: none;
}